<mat-card class="container">
    <h1 mat-dialog-title>Add new person</h1>
    <form [formGroup]="form" mat-dialog-content>
        <ng-container *ngFor="let field of fieldsSettings">
            <mat-form-field *ngIf="!field.disabled" appearance="fill" class="item">
                <mat-label>{{field.label}}</mat-label>
                <input matInput type="text" [formControlName]="field.id" ngDefaultControl>
            </mat-form-field>
        </ng-container>
    </form>
    <button mat-raised-button color="primary" (click)="addNew()">Submit</button>
</mat-card>